/* frontend > src > components > CharacterCounter > CharacterCounter.css */

.character-counter {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 0.75rem;
    color: #555;
    pointer-events: none;
    opacity: 0.75;  
}

.character-counter.warning {
    color: red;
}